doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    h1 メッセージを保存
    form(action="update" method="post")
      input(type="text" name="username" placdeholder="名前")
      textarea(placeholder="メッセージ" name="message")
      button(type="submit") 送信
